// DROP DOWN MENU
.combo-box-base  
{
    -fx-background-color: #d2e3fa;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}
.combo-box-base:showing 
{
    -fx-color: #bcd6f8;
}

.combo-box-base:focused {
    -fx-background-color: #bcd6f8;
}
.combo-box-base:focused:hover {
    -fx-background-color: #bcd6f8;
}


// SIGN IN BUTTON
.button {
    -fx-background-color:   #4f4df6;
    -fx-text-fill: WHITE;
	-fx-background-radius: 20;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color:  #4948e4;
    -fx-text-fill: #e9eaeb;
}

.button:pressed {
    -fx-background-color:  #4948e4;
    -fx-text-fill: #e9eaeb;
}

.button:focused {
    -fx-background-color: #4948e4;
    -fx-text-fill: #e9eaeb;
}



// TEXT FIELDS
.custom-text-field {
    -fx-background-color:  #1e2835;
    -fx-background-radius: 15;
	-fx-text-fill: white;

 }

.custom-text-field:focused {
    -fx-background-color: #353e49;
	-fx-prompt-text-fill: white;
}

.custom-text-field:hover {
    -fx-background-color: #353e49;
	-fx-prompt-text-fill: white;
}

.custom-text-field:focused:hover {
    -fx-background-color: #353e49;
	-fx-prompt-text-fill: white;
}
